## <span style="color:red">Your Name:  Daniel DeLuca  </span>

---
# Homework 1: Python and Jupyter Notebook Basics

Directly sharing answers is not okay, but discussing problems with the professor or with other students is encouraged.  

Related Reading:  Textbook Chapters 1, 3, 4

---
## **Question 1!!!!!!!!!!!!!!!!!!!** 

The following markdown cell contains an italcized sentence that lists out some columns in a data set.   Update the cell so that the list appears in a bulleted list.

*My data set has these columns: 
* patient name, 
* height, weight,
* blood pressure, 
* cholesterol.*

---
## **Question 2!!!!!!!!!!!!!!!!!!!** 

Using the variables shown in the code cell below, complete the **single** print statement below so that the cell outputs this sentence:

*The girl is 64 inches tall and weights 128 pounds.*

In [9]:
height = 64
weight = 128

print("The girl", height," inches tall and weighs ",weight,"  pounds")  #The numbers 64 and 128 should not appear on this line
            #Your answer should only have one print statement.

The girl 64  inches tall and weighs  128   pounds

---
## **Question 3!!!!!!!!!!!!!!!!!!!** 

A student added 3 numbers to report the sum.  Fix the common mistake that the student made below.

In [11]:
price1 = 10.20
price2 = 3.45
price3 = 8.75

total = price1 + price2 + price3

total

22.4

---
## **Question 4!!!!!!!!!!!!!!!!!!!** 

Mini madlib:  Replace the ellipsis to give each variable a string value.  Then using a **single** print statement and **string concatenation**, update the print statement to show `activity_you_like` instead of `YYYY` and place_you_like instead of `XXXX`.

In [29]:
activity_you_like = "go fishing"

place_you_like = "the beach"

print("I like to go to ",activity_you_like,"in order to ",place_you_like,)

I like to go to  go fishing in order to  the beach

---
## **Question 5!!!!!!!!!!!!!!!!!!!** 

Replace the ???'s with your answer below. Feel free to check them by creating a code cell below!

31 % 4 = 3

`10 / (3 + 7) = 1

`10 // 3 + 7  = 10

`2 * -1 ** 4  = -2

`27 ** (1/3)  = 3

In [38]:
x = 31 % 4
y = 10 / (3+7)
z = 10 // 3+7
a = 2 * -1 ** 4
27 ** (1/3)
31 % 4

3

---
## **Question 6!!!!!!!!!!!!!!!!!!!** 

Way back when you learned the Pythagorean Theorem, which says that given side lengths $a,b,c$ of a triangle where $c$ is the hypotenuse, 

$$a^2+b^2 = c^2.$$

Using only code in the code cell below (so no calculator and no google), answer this question.  

A triangle has a hypotenuse of length 5 and also a side length of 2.  What is the length of the last side?

*HINTS:
 * Your answer should not be based on approximations.  So for example, if $\pi$ were part of the answer, it should not be substituted with 3.14.
 * The final numerical answer should be 4.582575... if you get this right.

In [46]:
#Feel free to add more lines of code if needed.

side_a = 2 ** 2
side_c = 5 ** 2
last_side =   (side_c - side_a) ** (1/2)

last_side

4.58257569495584

---

## Breaking Down Expressions

The most important idea in Computer Science is that complicated, useful things can be built by putting together simple parts according to simple rules.  Python code is an important example of this principle.  Once you understand the basic rules, you can code with confidence.  These exercises are designed to give you some practice with those rules.

First, a brief review of subexpressions.

You can take any Python expression that has a value and combine it with other expressions.  For example, you can combine two number-valued expressions by putting a `+` between them to add their values together.  This forms a new, larger expression called a *compound expression*.  The expressions that were combined together are called *subexpressions*.

You can tell if something is a subexpression by checking whether it would make sense to write it in a line by itself.  For example, in the expression `2 * 3`, `2` is a subexpression, but `2 *` isn't, because `2 *` isn't a valid expression.  (Try executing it!)

## **Question 7!!!!!!!!!!!!!!!!!!!** 

List all the subexpressions of the following expression:

    2 + 3
    
Put each subexpression on its own line in the next cell.

*Hint:* There are two of them.

In [47]:
2
3

3

## **Question 8!!!!!!!!!!!!!!!!!!!**  

Consider the following expression:

    (1 + 2) * ((3 / 4) ** 5)

Here is a list of almost all the subexpressions of that expression.  One is missing.

1. `1`
2. `2`
3. `3`
4. `4`
5. `5`
6. `(1 + 2)`
7. `((3 / 4) ** 5)`

In the next cell, write the missing expression.

In [50]:
(3/4)

0.75

## **Question 9!!!!!!!!!!!!!!!!!!!** 

List all the subexpressions of the following expression:

    (((2**3) / 4) / 5) - 6

Put each subexpression on its own line in the next cell.

In [58]:
2**3
((2**3)/4)
(((2**3 / 4 ) / 5)
-6
((2**3)/ 5)
(2**3) - 6
((2**3) /4) - 6
((2**3) /5) - 6

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_44588/2177709642.py, line 8)

---

## Errors in Naming

## **Question 10!!!!!!!!!!!!!!!!!!!** 

When you run the following cell, Python will produce an slightly-cryptic error message.  Explain in the text cell below, in your own words, what's wrong with the code.  (Remember, double-click the cell to edit it, and then click the Run button when you're done.)

In [59]:
4 = 2 + 2

SyntaxError: cannot assign to literal (Temp/ipykernel_44588/2912417615.py, line 1)

Phython can not assign a string to a number. This is because in Phython a variable or word must be assigned to string.

## **Question 11!!!!!!!!!!!!!!!!!!!**  

When you run the following cell, Python will produce an slightly-cryptic error message.  **Fix the error,** and then **explain below** in your own words what was wrong with the code.

In [60]:
two = 2
four = two plus two

SyntaxError: invalid syntax (Temp/ipykernel_44588/4108696065.py, line 2)

In [61]:
two = 2
four = two + two
four

4

The error is "plus" is written out when a plus sign (+) should be used to combine both strings.

---

NOW SAVE YOUR FILE.

To get credit, submit your file named as hw01_YourLastName.ipynb