## Your Name:  Daniel DeLuca

---
# Arrays and Tables

Directly sharing answers is not okay, but discussing problems with the professor or with other students is encouraged.  

Related Reading:  Textbook Chapters 5 and 6

# Homework 2: Arrays and Tables

Covers Ch 5 and 6.

In [2]:
#Please import the 2 packages you need for working with tables and data frames here
import numpy as np
import pandas as pd

## A. Creating Arrays

---
## **Question 1!!!!!!!!!!!!!!!!!!!** 

Make an array called `weird_numbers` containing the following numbers (in the given order):

1. -2
2. the sine of 1.2
3. 3
4. 5 to the power of the cosine of 1.2

*Hint:* `sin` and `cos` are functions in the `math` module.

In [30]:
import math
thee = (math.sin(1.2))
the = 5**(math.cos(1.2))

In [31]:
# Our solution involved one extra line of code before creating
# weird_numbers.

weird_numbers = np.array([-2, the, 3, thee])
weird_numbers

array([-2.        ,  1.79174913,  3.        ,  0.93203909])

---
## **Question 2!!!!!!!!!!!!!!!!!!!** 

Make an array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves".

In [32]:
book_title_words = np.array(['Eats','Shoots','Leaves'])
book_title_words

array(['Eats', 'Shoots', 'Leaves'], dtype='<U6')

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string

---
## **Question 3!!!!!!!!!!!!!!!!!!!** 

Use the array `book_title_words` and the method `join` to make two strings:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(book_title_words)` .

In [36]:
"foo".join(book_title_words)

'EatsfooShootsfooLeaves'

In [40]:
with_commas = np.array(['Eats,','Shoots,',' and Leaves'])
without_commas = " ".join(with_commas)

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

with_commas: ['Eats,' 'Shoots,' ' and Leaves']
without_commas: Eats, Shoots,  and Leaves

## B. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), elements are accessed by *index*, so the first element is the element at index 0.  Unfortunately, this small detail can cause a disproportionate amount of confusion.  So it's useful to practice indexing arrays, even if it's not a particularly important concept.

---
## **Question 4!!!!!!!!!!!!!!!!!!!** 

The cell below creates an array of some numbers.  Set `third_element` to the third element of `some_numbers`.

In [68]:
some_numbers = np.array([-1, -3, -6, -10, -15])

third_element = some_numbers.index(-6)
third_element

AttributeError: 'numpy.ndarray' object has no attribute 'loc'

---
## **Question 5!!!!!!!!!!!!!!!!!!!** 

By creating a dictionary and converting it to a DataFrame, create a Table where the following column names have the shown values.

* ```English_name_for_position``` Column has these strings: ```"first", "second", "???", "???", "fifth"```
* ```Index``` Column has these values:  ```"???", "1", "2", "???", "4"```
* ```Element``` has the numbers in the some_numbers array (Use that array!  Don't hardcode the values here.)

Then complete the table by filling in ay question marks with the value that should be there.

In [61]:
elements_of_some_numbers_dict = {"English_name_for_position" :np.array(['first','second','???','???','fifth']), "Index" :np.array(['???','1','2','???','4']), "Element" : (some_numbers)}
elements_of_some_numbers_table = pd.DataFrame(elements_of_some_numbers_dict)
elements_of_some_numbers_table

  English_name_for_position Index  Element
0                     first   ???       -1
1                    second     1       -3
2                       ???     2       -6
3                       ???   ???      -10
4                     fifth     4      -15

---
## **Question 6!!!!!!!!!!!!!!!!!!!** 

Use ``shape`` to get the number of rows and columns of the `elements_of_some_numbers_table` dataframe.

In [63]:
num_rows = elements_of_some_numbers_table.shape
num_cols = elements_of_some_numbers_table.shape
num_rows, num_cols

((5, 3), (5, 3))

---

## **Question 7!!!!!!!!!!!!!!!!!!!** 

You'll sometimes want to find the *last* element of an array.  Suppose an array has 142 elements.  What is the index of its last element?

In [64]:
index_of_last_element = 141

NameError: name 'index' is not defined

---

In the above question, you knew how many elements were in an array (142).

More often, however, you don't know the number of elements in an array, that is, its *length*.  (For example, it might be a large dataset you found on the internet.)  

Luckily, you can use the `len` function that takes a single argument, an array/list/column, and that returns the `len`gth of the given array (which will be an integer).  

The ``len`` function will help you with the next question.

---
## **Question 8!!!!!!!!!!!!!!!!!!!** 

Follow the steps below to print out the name of the final president in a list of presidents.

* Set the ``presidents_table`` to be a DataFrame with the information in the "president_births.csv" file.
* Select the contents of the ```Name``` column.
* Find the last element in that array.  (It's John F. Kennedy.)  

#### Do the last bullet point **without** examining the data manually, ie, don't use index 37!!!
#### So if I upload a new csv file with even more rows, I should still get out whoever's name is in the last row when I run your code!!!

In [91]:
presidents_table = pd.read_csv("president_births.csv")
presidents_names = presidents_table['Name']
last_president = presidents_names.iloc[37]
last_president

#Should print out only the name "John F. Kennedy"

'John F. Kennedy'

## C. Flipping Coins

As you're walking Station Ave one afternoon, a shadowy figure steps out from behind a tree and offers you the following game:

> "First, you pay me \$1 to play.  Then, I'll flip 4 fair coins.  ("Fair" means that there's a 50% chance the coin lands heads and a 50% chance it lands tails, and all the coins are independent of each other.)

> "If all of the coins come up heads, then I'll give you \$10."

Let's figure out whether this is a good deal.  Answering that question formally requires a little bit of decision theory, which we haven't seen yet, but for now we can at least use a computer to think about how the game works.

First, let's think about the outcomes that can happen.  We'll order the coins left to right and denote an outcome by a **string**.  For example, if we get all heads, we'll denote that outcome by `"HHHH"`.  If we get tails first and then 3 heads, we'll denote that by `"THHH"`.

---
## **Question 9!!!!!!!!!!!!!!!!!!!** 

Make an array containing any 3 outcomes that can happen, using this notation.  (The array should contain 3 strings.)  Don't use the examples we've already given!

In [92]:
outcomes = np.array(['HHHT','HHTT','HTHH'])

A single coin has 2 outcomes, `"H"` and `"T"`.  When you add a coin to any set of coins, that *multiplies* the number of potential outcomes by 2, because for each potential outcome there was before, there are now 2 potential outcomes: one where the new coin is heads, and one where the new coin is tails.  So if the shadowy figure flips $n$ coins, then there are $2^n$ potential outcomes.

---
## **Question 10!!!!!!!!!!!!!!!!!!!** 

Compute the number of outcomes for 4 coins.  **Use the exponentiation (**`**`**) operator.**

In [93]:
num_outcomes_4_coins = 2**4

You should have found that there were 16 possible outcomes.  Since 1 of them nets you $\$9$ and the other 15 net you $-\$1$, if you play 16 games, then on average you'll lose \$6.  So it's probably not a good idea to play the game.  But this would change if there were more or fewer coins!

---
## **Question 11!!!!!!!!!!!!!!!!!!!** 

Suppose the shadowy figure had used a different number of coins.  Compute the number of outcomes for a game with 1 coin, for a game with 2 coins, for a game with 3 coins, and so on, up to 30 coins.  Put the results in an array called `num_outcomes`.  

*Hint:* Don't write an expression and copy it 30 times!  Instead, think about the formula for each entry of the array you want, and use array arithmetic to implement that formula.

Click **here** for another hint 

<!-- Your answer should look like: array([2, 4, 8, 16, ...])  
    and should have length 30, not 29 or 31-->

In [97]:
num_outcomes = np.arange(1, 31, 1)**2
num_outcomes

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144, 169,
       196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676,
       729, 784, 841, 900], dtype=int32)

---

## D. Tables/DataFrames

---
## **Question 12!!!!!!!!!!!!!!!!!!!** 

Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table/dataframe that contains this information.  It should have two columns: "fruit_name" and "count".  Give it the name `fruits`.

**Notes:** 

* Use lower-case and singular words for the name of each fruit, like `"apple"`.
* It's up to you if you want to use a dictionary or not to do this.

In [102]:
# Feel free to use however many lines you need here.
fruits ={"fruit_name" : np.array(['apples','oranges','pineapples']),"count" :np.array(['4','3','3'])}
fruits_table = pd.DataFrame(fruits)
fruits_table

   fruit_name count
0      apples     4
1     oranges     3
2  pineapples     3

---
## **Question 13!!!!!!!!!!!!!!!!!!!** 

The file `inventory.csv` contains information about the inventory at a fruit stand.  Each row represents the contents of one box of fruit.  Load it as a table/dataframe named `inventory`.

In [103]:
inventory = pd.read_csv('inventory.csv')
inventory

   box ID  fruit name  count
0   53686        kiwi     45
1   57181  strawberry    123
2   25274       apple     20
3   48800      orange     35
4   26187  strawberry    255
5   57930       grape    517
6   52357  strawberry    102
7   43566       peach     40

---
## **Question 14!!!!!!!!!!!!!!!!!!!** 

Does each box at the fruit stand contain a different fruit, ie, do the boxes contain *unqiue* types of fruit?  

While you can analyze the tables to determine this, use code to decide and then write your response in the markdown box below the code.  Sp don't hardcode.

In [110]:
inventory['fruit name'].unique()

array(['kiwi', 'strawberry', 'apple', 'orange', 'grape', 'peach'],
      dtype=object)

Not every box has a unique type of fruit

---
## **Question 15!!!!!!!!!!!!!!!!!!!** 

The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called "price per fruit (\$)" that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `inventory` table.  Load these data into a table called `sales`.

In [111]:
sales = pd.read_csv('sales.csv')
sales

   box ID  fruit name  count sold  price per fruit ($)
0   53686        kiwi           3                 0.50
1   57181  strawberry         101                 0.20
2   25274       apple           0                 0.80
3   48800      orange          35                 0.60
4   26187  strawberry          25                 0.15
5   57930       grape         355                 0.06
6   52357  strawberry         102                 0.25
7   43566       peach          17                 0.80

---
## **Question 16!!!!!!!!!!!!!!!!!!!** 

How many fruits did the store sell in total on that day?

In [122]:
total_fruits_sold = sales['count sold'].sum()
total_fruits_sold

638

---
## **Question 17!!!!!!!!!!!!!!!!!!!** 

What was the store's total revenue (the total price of all fruits sold) on that day?

*Hint:* If you're stuck, think first about how you would compute the total revenue from just the grape sales.

In [131]:
total_revenu = (sales['price per fruit ($)'] * sales['count sold'])
total_revenue = total_revenu.sum()
total_revenue

106.85000000000001

---
## **Question 18!!!!!!!!!!!!!!!!!!!** 

Make a new table called `remaining_inventory`.  It should have the same rows and columns as `inventory`, except that the amount of fruit sold from each box should be subtracted from that box's count, so that the "count" is the amount of fruit remaining after Saturday.

In [140]:
#Feel free to use more than one line of code if you need.
remaining_inventor = inventory['count'] - sales['count sold']
remaining_inventor

0     42
1     22
2     20
3      0
4    230
5    162
6      0
7     23
dtype: int64

In [139]:
remaining_inventory = inventory.replace({'count' : 'remaining_inventor'})
remaining_inventory

   box ID  fruit name  count
0   53686        kiwi     45
1   57181  strawberry    123
2   25274       apple     20
3   48800      orange     35
4   26187  strawberry    255
5   57930       grape    517
6   52357  strawberry    102
7   43566       peach     40