### *“People ask me all the time: ‘What is it like to be a woman at Google?’* 

### *I’m not a woman at Google, I’m a geek at Google. And being a geek is just great. I’m a geek, I like to code, I even like to use spreadsheets when I cook.”* 

### **-Marissa Mayer**

----

## YOUR NAME HERE: Daniel DeLuca

----

# Homework 3: Reviewing Tables/DataFrames

Covers material from Ch 6 in the text.

In [ ]:
#Please import the 2 packages you need for working with tables and data frames here
import pandas as pd
import numpy as np

## A. Differences between Universities

Suppose you're choosing a university to attend, and you'd like to *quantify* how *dissimilar* any two universities are.  You rate each university you're considering on several numerical traits.  You decide on a very detailed list of 1000 traits, and you measure all of them!  Some examples:

* The cost to attend (per year)
* The average Yelp review of nearby Thai restaurants
* The USA Today ranking of the Medical school
* The USA Today ranking of the Engineering school

You decide that the dissimilarity between two universities is the *total* of the differences in their traits.  That is, the dissimilarity is:

* the **sum** of
* the absolute values of
* the 1000 differences in their trait values.

### **Question 1.** 

A) In the next cell, load the School1.csv\School2.csv data, which contain 1000 trait values for 2 schools.

In [ ]:
school1 = pd.read_csv("School1.csv")
school2 = pd.read_csv('School2.csv')

B)  Compute the dissimilarity (according to the  method described above) between School1 and School2.  

Call your answer `dissimilarity`.  Use a single line of code to compute the dissimilarity answer.

In [ ]:
dissimilarity = abs(school1['Trait value'] - school2['Trait value']).sum()
dissimilarity

Double-click __here__ for the correct answer.

<!-- 14060.55870...
-->

### **Question 2.** 

Why do we sum up the absolute values of the differences in trait values, rather than just summing up the differences?

We sum up the absolute values to prevent negative numbers from influencing the answer.

---

##### Weighing the traits
After computing dissimilarities between several schools, you notice a problem with your method: the scale of the traits matters a lot.

Since schools cost tens of thousands of dollars to attend, the cost-to-attend trait is always a much bigger *number* than most other traits.  That makes it affect the dissimilarity a lot more than other traits.  Two schools that differ in cost-to-attend by \\$900, but are otherwise identical, get a dissimilarity of 900.  But two schools that differ in graduation rate by .9 (a huge difference!), but are otherwise identical, get a dissimilarity of only .9.

One way to fix this problem is to assign different "weights" to different traits.  For example, we could fix the problem above by multiplying the difference in the cost-to-attend traits by .001, so that a difference of \\$900 in cost-to-attend results in a dissimilarity of $ 900 \times .001 $, or $ .9 $.

Here's a revised method that does that for every trait:

1. For each trait, subtract the two schools' trait values.
2. Then take the absolute value of that difference.
3. *Now multiply that absolute value by a trait-specific number, like .001 or 2.*
4. Now sum the 1000 resulting numbers.

### **Question 3.** 

Suppose you've already decided on a weight for each trait. You saved the weights in a ``weights.csv`` file. 

Load them into a table called `weights` in the cell below.

In [ ]:
weights = pd.read_csv('weights.csv')
weights

---

### **Question 4.**  ?

Now use the revised method to compute a revised dissimilarity between School 1 and School 2.

*Hint:* Using array arithmetic, your answer should be almost as short as in question 1.

In [ ]:
revised_dissimilarity =  abs(school1['Trait value'] - school2['Trait value']).sum()
revised_dissimilarity

Double-click __here__ for the correct answer.

<!-- 505.98313211...
-->

---

## B. Little Women

Recall from our first week that we considered a plot that compares the number of characters to the number of periods in each chapter of Little Women.  Each point represents one chapter.

<img src="https://github.com/kathleen-ryan-DeSales/CS250/blob/main/pictures/little_women.png?raw=true">

### **Question 5.**

To generate the above graph, we started with the data in the table below.  

Show the first 10 rows using the ``head`` function so that you can succintly see what's in the table.

In [ ]:
lw_df = pd.read_csv("little_women.csv")  

lw_df.head(10)

### **Question 6.**

To generate the above graph, we need to compute the number of characters per period in each chapter.  Add a column to the ``lw_df`` called ``Chars Per Period`` with this information.

In [ ]:
lw_df['Chars Per Period'] = lw_df['Chapter Length'] / lw_df['Number of Periods']

lw_df  #Print the table out and see your change!

### **Question 7.**

Find highest proportion of characrters per period of all chapters.

In [ ]:
lw_df['Chars Per Period'].max()

most_chars_per_period = lw_df['Chars Per Period'].max()
most_chars_per_period  #This variable should contain your inal answer

### **Question 8.**

Without hard coding, find the chapter with the lowest proportion of characters per period.

In [ ]:
... #More code here

min_chars = lw_df['Chars Per Period'].min()

chapter_least_chars_per_period = lw_df[lw_df['Chars Per Period'] == min_chars]['Chapter']
 
chapter_least_chars_per_period  #This variable should contain your final answer

### **Question 9.**

Find the average and standard deviation of the characters per period for the chapters in little women.

In [ ]:
mean_chars_per_period = lw_df['Chars Per Period'].mean()
std_chars_per_period = lw_df['Chars Per Period'].std()

mean_chars_per_period, std_chars_per_period  #These variables should contain your final answer

---

## C. World Populations


Let's Review basic ``where`` clauses.

### **Question 10.**

a) Read in the world_population.csv below. The table has a single column with the world population in each year from 1950-2015 (as [estimated](http://www.census.gov/population/international/data/worldpop/table_population.php) by the US Census Bureau).

In [ ]:
#Read in table
population_table = pd.read_csv('world_population.csv')
population_table

### **Question 11.**

Using ``arange``, create a column called "Year" in the table that shows the years.  The first row is 1950 and the last row is 2015.

In [ ]:
#Create the Years Column here
population_table['Year'] = np.arange(1950 , 2016 , 1)

population_table

### **Question 12.**

Use boolean indexing (so create a "where" clause) to answer this question:  In what year did world population cross 6 billion?

In [ ]:
six_bil = population_table[population_table['Population'] > 6000000000]
six_bil

In [ ]:
#do some work first - Add as many lines/cells as you need

yr_over_6bil = six_bil['Year'].iloc[1]  #To get credit, this  variable should contain your 
                     #FINAL ANSWER so don't use it for other variable names
yr_over_6bil

---

## D. Creating your own csv of data

Let's load in data that you yourself have created.


### **Question 13.**

Create your own CSV file called `my_data_yourlastname.txt` inside the same folder as this lab's folder.  Your file have **two columns** and **four rows**, and one of the rows should contain column headers. It can have whatever values you want.  

NOTE:  

* Even though it is marked as a `.txt` file, you can just add commas to designate columns and it will be loaded in like a csv. 

* To create the file, go to the folder containing this lab and right click to select "New -> Text File".  Then rename the file `my_data.txt`.  

Below, load the file into a dataframe called `my_data`.

In [ ]:
# Load your table here and make sure it's printed out without an error!
my_data = pd.read_csv('my_data_DeLuca.txt')
my_data

---

## E. Creating tables from scratch within Jupyter Notebooks

Let's review creating tables from scratch from within a notebook file.

### **Question 14.**

In the cell below, create a table `top_10_movies` with 2 columns: "Rating" and "Name" which have the data below.  These data corresponds to the [IMDb](imdb.com) ratings of 8 movies.  
* 9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8
* These movies:
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)'

In [188]:
#Add as many lines as you need to do this.

top_10_movies = pd.DataFrame()
top_10_movies['Rating'] = np.array([9.2,9.2,9,8.9,8.9,8.9,8.9,8.9,8.9,8.8])
top_10_movies['Name'] = np.array(['The Shawshank Redemption (1994)', 'The Godfather (1972)', 'The Godfather: Part II (1974)','Pulp Fiction (1994)', "Schindler's List (1993)", 'The Lord of the Rings: The Return of the King (2003)', '12 Angry Men (1957)', 'The Dark Knight (2008)', 'Il buono, il brutto, il cattivo (1966)', 'The Lord of the Rings: The Fellowship of the Ring (2001)'])
top_10_movies  #Should contain your table

   Rating                                               Name
0     9.2                    The Shawshank Redemption (1994)
1     9.2                               The Godfather (1972)
2     9.0                      The Godfather: Part II (1974)
3     8.9                                Pulp Fiction (1994)
4     8.9                            Schindler's List (1993)
5     8.9  The Lord of the Rings: The Return of the King ...
6     8.9                                12 Angry Men (1957)
7     8.9                             The Dark Knight (2008)
8     8.9             Il buono, il brutto, il cattivo (1966)
9     8.8  The Lord of the Rings: The Fellowship of the R...

---

## F. IMDb Data

Now let's load in more IMDb data!

### **Question 15.**

a) The file `imdb.csv` contains a table of information about the 250 highest-rated movies on IMDb.  Load it as a table called `imdb`.

In [ ]:
#Read the file in here.
imdb = pd.read_csv('imdb.csv')
imdb

Notice this table is big enough that only a few of its rows are displayed, but the others are still there.  10 are shown, so there are 250 movies total.

### **Question 16.**

In the next cell, find the highest rating in the database **without** hardcoding.

In [189]:
#Add lines here
top_ratings = imdb.sort_values('Rating' , ascending = False)
highest_rating =  top_ratings['Title'].iloc[0]
highest_rating

'The Godfather (1972)'

### **Question 17.**

Now find how many movies had the highest rating **without** hardcoding.

In [ ]:
#Add as many lines/cells as you need
num_with_highest_rating = top_ratings[top_ratings['Rating'] == 9.2]

num_with_highest_rating  #Must contain your final answer

### **Question 18.**

In the cell below, sort your data from highest to lowest, as to confirm your answer above.

In [ ]:
#Your code here
imdb.sort_values('Rating' , ascending = False)

### **Question 19.**

Now find all movie names **(so just the movie names and no other details)** with the LOWEST rating.

In [ ]:
lowest_rating = imdb.sort_values('Rating' , ascending = True)  #HINT:  First find the lowest rating


#Then find the movies with that lowest rating:
lowest_titles = lowest_rating[lowest_rating['Rating'] == 8.0]['Title']
lowest_titles

e) Now create a version of `imdb` that's sorted chronologically, with the earliest movies first.  Call it `imdb_by_year`.

In [ ]:
imdb_by_year = imdb.sort_values('Year' , ascending = True)

imdb_by_year #print it out to see!

### **Question 20.**

What's the title of the earliest movie in the dataset? Write code in the cell below to decide.  

**Do not hardcode.**

**Show just the title and no other info.**

In [ ]:
earliest_movie_title = imdb_by_year.iloc[0]['Title']
earliest_movie_title

---

You're ready for more!

---

### **Question 21.**

Suppose you're interested in movies from the 1940s.  Set ``forties`` to a subtable containing only the movies from 1940s.

In [ ]:
#Your code here - Add as many lines/cells as you need
fortie = imdb[imdb['Year'] > 1939]
forties = fortie[fortie['Year'] < 1950]
forties #SHould print out your final answer

### **Question 22.**

Create a table called `nineties` containing the movies that came out in the 1990s.

In [ ]:
#Your code here - Add as many lines/cells as you need
nine = imdb[imdb['Year'] > 1989]
nineties = nine[nine['Year'] <2000]

nineties #SHould print out your final answer

### **Question 23.**

How does the average and standard deviation of the movie ratings from the 40s and 90s compare? 

Use the ``describe`` function to help you assess this quickly.

The syntax for ``describe`` is as you would expect:   ``table["column_name"].describe().``

In [ ]:
#Call describe on forties here.
forties['Rating'].describe()

In [ ]:
#Call describe on nineties here.
nineties['Rating'].describe()

Looking at the output of describe, answer below these 3 questions:

    A. Did the 90s or 40s have a higher average rating?
    The 90s had the higher average rating at 8.35
    
    B. You should see that the 90s movie ratings are more spread out from the mean on average?  How am I making this decision ased on the results of the describe function?
    This descision is being made off of the standard deviation (std) value. The std value of the 90s is higher then the std values of the 40s
    
    C. Why is it sensible that the movie ratings in the 90s would show more variation from the mean than from those in the 40s?  Give a reason based on your world view.
    There were many more movies during the nineties with varaitons in quality.

*A.  Your Answer Here:*  The 90s had the higher average rating at 8.35

*B.  Your Answer Here* This descision is being made off of the standard deviation (std) value. The std value of the 90s is higher then the std values of the 40s

*C.  Your Answer Here* There were many more movies during the nineties with varaitons in quality and World War 2 could have influenced ratings of movies in the 40s.

---

### **Question 24.**

Now find all the movies with more than 1 million votes on IMDb.

In [ ]:
#You got this!  Add as many lines as you need


movies_lots_of_votes = imdb[imdb['Votes'] > 999999]
movies_lots_of_votes #Should print out your final answer

### **Question 25.**

Now find how many movies there were with a rating higher than 8.5.  

Start by creating a table called really_highly_rated containing all movies with a rating higher than 8.5

In [ ]:
#Add as many lines/cells here

really_highly_rated = imdb[imdb['Rating'] >8.5]

num_really_highly_rated = really_highly_rated['Title'].count()
num_really_highly_rated  #Should print out final answer

### **Question 26.**

Find the average rating for movies released in the 20th century and the average rating for movies released in the 21st century.

**Note:** Our `imdb` dataset includes 250 of the best-rated movies ever made.  There are millions of movies, and most are not represented in this dataset.  So whatever you find will be true only among these, not among movies in general.

In [ ]:
where_20th_century = imdb[imdb['Year'] < 2000]
average_20th_century_rating = where_20th_century['Rating'].mean()

where_21st_century = imdb[imdb['Year'] > 1999]
average_21st_century_rating = where_21st_century['Rating'].mean()

print("Average 20th century rating:", average_20th_century_rating)
print("Average 21st century rating:", average_21st_century_rating)

### **Question 27.**

Below, determine how many rows and columns there are in the imdb dataset without hardcoding.

In [ ]:
num_movies_in_dataset = len(imdb) #Don't hardcode
num_columns_in_dataset =  len(imdb.columns) #Don't hardcode
print("Number of Movies:", num_movies_in_dataset, "Number of Columns:", num_columns_in_dataset)

### **Question 28.**

Now find the *proportion* of movies in the dataset that were released in the 20th century, and the proportion from the 21st century.

*Hint:* The *proportion* is a synonym for *percentage* but often we leave the proportion as number between 0 and 1 (so 0.15 instead of 15%.)

*Hint:* If you do this correctly, you should get:

    Proportion in 20th century: 0.684
    Proportion in 21st century: 0.316

In [ ]:
#Add code here if you need

proportion_in_20th_century = len(where_20th_century['Year']) / len(imdb)
proportion_in_21st_century = len(where_21st_century['Year']) / len(imdb)

print("Proportion in 20th century:", proportion_in_20th_century)
print("Proportion in 21st century:", proportion_in_21st_century)

---

### **Question 29.**

a) Here's a challenge: Find the number of movies that came out in *even* years.

*Hint:* The operator `%` computes the remainder when dividing by a number.  So `5 % 2` is 1 and `6 % 2` is 0.  A number is even if the remainder is 0 when you divide by 2.

*Hint 2:* `%` can be used on arrays, operating elementwise like `+` or `*`.  So `make_array(5, 6, 7) % 2` is `array([1, 0, 1])`.

*Hint 3:* Create a column called "Year Remainder" that's the remainder when each movie's release year is divided by 2.  Then use boolean indexing to find rows where that new column is equal to 0.

In [ ]:
# You can approach this however you like but you'll need some steps before you set the num_even_year_movies variable.

imdb['Year Remainder'] = imdb['Year'] % 2
num_even_year_movies = len(imdb[imdb['Year Remainder'] ==0])
num_even_year_movies

b) Use the ``not`` operator (~) to find the mean now select all odd years and find the mean rating of these movies.

In [ ]:
# You must use ~ to get points for doing this.
odd_year_movies_mean = imdb[imdb['Year Remainder'] != 0].mean()['Rating']
odd_year_movies_mean

---

### **Question 30.**

There are 7 movies that contain the word "man".  

Recall: Look at this [this website](https://www.tutorialspoint.com/python_pandas/python_pandas_working_with_text_data.htm) for  ``str`` functions that could help.

Your answer should appear as:

|     | Votes  | Rating | Title                                   | Year |
|-----|--------|--------|-----------------------------------------|------|
|   4 | 145514 |    8.2 |                 The Elephant Man (1980) | 1980 |
|   7 | 850601 |    8.3 |                    Batman Begins (2005) | 2005 |
|  51 |  87437 |    8.0 |                    Roman Holiday (1953) | 1953 |
|  92 |  49135 |    8.0 | The Man Who Shot Liberty Valance (1962) | 1962 |
| 122 | 138240 |    8.0 |                          Yip Man (2008) | 2008 |
| 206 | 583004 |    8.0 |                  The Truman Show (1998) | 1998 |
| 215 | 101785 |    8.3 |                    The Third Man (1949) | 1949 |

In [ ]:
#Add as much code as you need here


movies_with_man = imdb[(imdb['Title'].str.contains("Man")) | (imdb['Title'].str.contains("man"))]
movies_with_man

---

## G. Farmers Markets

Let's change gears and work with a new data set.

The table `farmers_markets.csv` contains data on farmers' markets in the United States.  (The data are collected [by the USDA]([dataset](https://apps.ams.usda.gov/FarmersMarketsExport/ExcelExport.aspx)).)  Each row represents one such market.

You'll notice that it has a large number of columns in it!

Load the dataset into a table.  Call it `farmers_markets`.

In [ ]:
farmers_markets = pd.read_csv("farmers_markets.csv")
farmers_markets

### **Question 31.**

Find the number of rows and columns in the table.

In [ ]:
num_farmers_markets_rows = len(farmers_markets)
num_farmers_markets_columns = len(farmers_markets.columns)
print("The table has", num_farmers_markets_columns, "columns and ", num_farmers_markets_rows, "rows in it!")

### Learning How to "Whittle Down" The Columns

Most of the columns are about particular products -- whether the market sells tofu, pet food, etc.  If we're not interested in that stuff, it just makes the table difficult to read.  This comes up more than you might think.

In such situations, we can pare down the columns of a table to the ones we need.  If we just want to select one column, we would just use this notation:  ``imdb["Year"]``.  However, when we select more than one columns, we need to pass in the list of columns ``["Year", "Decade"]`` and this means we have double hard brackets. 

For example, the value of `imdb[["Year", "Decade"]]` is a table with only the years and decades of each movie in `imdb`.  

### **Question 32.**

Create a table from our new ``farmers_markets`` dataframe that has only the name, city, state, latitude ('y'), and longitude ('x') of each market.  Call that new table `farmers_markets_locations`.

In [ ]:
farmers_markets_locations = farmers_markets[["MarketName","city","State","y","x"]]
farmers_markets_locations

### **Question 33.**

Find the average latitude ('y') and average longitude ('x') of the farmers' markets in the table below.

In [ ]:
average_latitude = farmers_markets_locations['y'].mean()
average_longitude = farmers_markets_locations['x'].mean()
print("The average of US farmers' markets' coordinates is located at (", average_latitude, ",", average_longitude, ")")

### **Question 34.**

Make a table of the 5 northernmost farmers' markets in `farmers_markets_locations`.  Call it `northern_markets`.  It should include the same columns as `farmers_markets_locations`.

In [ ]:
#Add more code here if you prefer to take more than one line to accomplish the task.

northern_markets = farmers_markets_locations.sort_values('y' , ascending = False)
northern_markets.head(5)

### **Question 35.**

Make a table of the farmers' markets in Allentown, Pennyslvania.  **Do not assume that only PA has a city named Allentown when designing your where clause.** 

Your table should include the same columns as `farmers_markets_locations`.

In [ ]:
#Add more code here if you prefer to take more than one line to accomplish the task.
allentown_markets = farmers_markets_locations[(farmers_markets_locations['city'] == "Allentown") & (farmers_markets_locations['State'] == "Pennsylvania")]
allentown_markets

---

You're done!  Congrats!  

**Be sure to submit both of these files:**
* **the ``my_data_yourlastname.txt`` file** 
* **this ``ipynb`` file.**